@charset "UTF-8"; 

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 28px 8%;
    width: 100%;
    background-color: #000000;
    color: white;
}

body {
    background-color: white;
    color: black;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar h1 {
    cursor: pointer;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    gap: 48px;
}

#nav-list {
    display: none;
}

.nav-item a {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color: #c0c0c0;
}

.nav-item a:active {
    color: #c0c0c0;
    padding-bottom: 4px;
    border-bottom: 3px solid #c0c0c0;
}

button {
    cursor: pointer;
}

.btn-default {
    border: none; 
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 1px 1px 20px #dbdbdba4;
}

.btn-default:hover {
    transform: translateY(-2px);
    background-color: #dadada;
}

/* MENU MOBILE */

#mobile_menu, #mobile_btn {
    display: none;
}

@media screen and (max-width: 800px) {
    #nav-bar #nav-list,
    .btn-default {
        display: none;
    }

    #mobile_btn {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1.5rem;
        display: block;
        cursor: pointer;

    
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        
    }

    #mobile_menu.active .btn-default {
        display: block;
        margin-top: 2px;
    }

    .mobile-nav-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0;
        text-align: center;
    }

}

